body {
    background-color: rgba(198, 230, 245, 0.35);
    font-family: Poppins, sans-serif;
}

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.signup-container form {
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    width: 475px;
}

.signup-container h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 25px;
    text-transform: uppercase;
    color: #002D3C;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 25px;
}

.form-column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1rem;
    margin-bottom: 10px;
    font-weight: normal;
}

input, select {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #000;
    border-radius: 8px;
    font-family: Poppins, sans-serif;
}

input:hover, select:hover {
    background-color: #f5f5f5;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.form-button {
    display: flex;
    justify-content: center;
}

.form-button button {
    background-color: #87BBD0;
    color: #002D3C;
    font: 600 1.2rem Poppins, sans-serif;
    padding: 5px 20px;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
}

.form-button button:hover {
    background-color: #336A7E;
    color: #fff;
    transform: scale(1.05);
    transition: transform 0.2s ease;
    cursor: pointer;
}

.login-text {
    text-align: center;
    margin-top: 15px;
    font-size: 15px;
}

.login-text a {
    color: #002D3C;
    text-decoration: none;
    font-weight: 600;
}

.login-text a:hover {
    text-decoration: underline;
}
