* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(198, 230, 245, 0.35);
    font-family: Poppins, sans-serif;
    padding-top: 85px;
}

.back-button {
    border: 2px solid #002D3C;
    border-radius: 20px;
    background: none;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    margin: 30px 0px 20px 50px;
    padding: 8px 18px;
    font-size: 14px;
    color: #002D3C;
}

.back-button:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease;
    cursor: pointer;
    background: rgba(135, 187, 208, 0.3);
    border-radius: 20px;
}

.login-container, .signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 50px 50px 50px;
}

.login-container form {
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    width: 400px;
}

.signup-container form {
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    width: 475px;
}

.login-container h2, .signup-container h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 25px;
    text-transform: uppercase;
    color: #002D3C;
}

.signup-container input, .signup-container select {
    padding: 7px;
    font-size: 14px;
    border: 1px solid #000;
    border-radius: 6px;
    font-family: Poppins, sans-serif;
}

.form-group {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

.form-group label, .form-column label {
    font-size: 1rem;
    margin-bottom: 10px;
    font-weight: normal;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    gap: 30px;
    margin-bottom: 25px;
}

.form-column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.input-box {
    display: flex;
    align-items: center;
    border: 1px solid #000;
    border-radius: 8px;
    padding: 8px 10px;
}

.input-box i {
    color: #002D3C;
    margin-right: 10px;
}

.input-box input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 14px;
    font-family: Poppins, sans-serif;
}

.password-box {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.password-box input {
    min-width: 100%;
    padding: 5px; 
    border: 1px solid #000;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
}

.password-box i {
    font-size: small;
}

.password-box .toggle-password {
    position: absolute;
    right: 12px;   
    cursor: pointer;
    color: #002D3C;
}

.toggle-password {
    cursor: pointer;
    margin-left: 10px;
}

.form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-top: 15px;
}

.remember-me {
    display: flex;
    align-items: center;
    gap: 8px;
}

.form-options a {
    color: #1386b3;
    text-decoration: none;
    font-weight: 600;
}

.form-options a:hover {
    text-decoration: underline;
}

.form-button {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.form-button button {
    background-color: #87BBD0;
    color: #002D3C;
    font: 600 1.2rem Poppins, sans-serif;
    padding: 5px 20px;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
    cursor: pointer;
}

.form-button button:hover {
    background-color: #336A7E;
    color: #fff;
    transform: scale(1.05);
    transition: 0.2s ease;
}

.register-text, .login-text {
    text-align: center;
    margin-top: 25px;
    font-size: 15px;
}

.register-text a, .login-text a {
    color: #1386b3;
    font-weight: 600;
    text-decoration: none;
}

.register-text a:hover, .login-text a:hover {
    text-decoration: underline;
}

#error-msg {
    color: red;
    margin-top: 5px;
    font-size: 14px;
    display: none; 
}

#forgot-pass {
    color: #1386b3;
    cursor: pointer;
    font-size: 14px;
}

/* Scroll to top button */
.scroll-to-top {
    right: 1.5%;
    top: 88%;
    font-size: 50px;
    color: #fff;
    background: #578fca;
    border-radius: 100%;
    animation-name: appear;
    animation-timeline: scroll(y);
}

.scroll-to-top:hover {
    transform: scale(1.05);
    transition: all .2s;
    cursor: pointer;
}

@keyframes appear {
    0% {
        opacity: 0;
        display: none;
        position: fixed;
    }

    3% {
        opacity: 0;
        display: none;
    }

    3.5% {
        opacity: 0.8;
        display: block;
        z-index: 3;
    }

    100% {
        opacity: 0.8;
        display: block;
        position: fixed;
        z-index: 3;
    }
}

@media screen and (max-width: 600px) {
    .scroll-to-top {
        right: 3%;
        font-size: 45px;
    }
}
