@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #336A7E;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.25);
    z-index: 10;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo img{
    width: 50px;
}

.logo-name {
    font: 700 1.5rem "Plus Jakarta Sans", sans-serif;
}

.landing-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.login-button {
    border: none;
    border-radius: 20px;
    background-color: #87BBD0;
    color: #fff;
    font: 600 18px Poppins, sans-serif;
    padding: 5px 35px;
}

.sign-up-button {
    border: none;
    border-radius: 20px;
    background-color: #C6E6F5;
    color: #002D3C;
    font: 600 18px Poppins, sans-serif;
    padding: 5px 25px;
}

.landing-buttons button:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease;
    cursor: pointer;
}

.nav-text {
    font-size: 1.2rem; 
    display: flex; 
    align-items: center; 
    gap: 8px;
}

.nav-text a:hover {
    transform: translateY(-2px);
    transition: all 0.5s ease;
}

.nav-text .ri-notification-2-fill {
    font-size: 20px;
}

.nav-text .ri-account-circle-line {
    font-size: 28px;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

#toggler,
.navbar label {
    display: none;
}

.navbar i {
    font-size: 25px;
    padding: 8px;
}

@media screen and (max-width: 800px) {
    .nav-text {
        display: none;
    }

    .landing-buttons {
        display: none;
    }

    .navbar label {
        display: block;
        align-items: center;
        cursor: pointer;
        position: absolute;
        right: 40px;
    }

    #toggler:checked~.nav-text {
        display: flex;
        justify-content: center;
        position: fixed;
        top: 88px;
        right: 0;
        padding: 1.2rem;
        background-color: #336A7E;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
    }

    #toggler:checked~.landing-buttons {
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        top: 88px;
        right: 0;
        padding: 1.5rem;
        background-color: #336A7E;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
    }

    .navbar label:hover {
        background-color: rgba(135, 187, 208, 0.5);
        padding: 5px 0;
        border-radius: 5px;
    }
}

@media screen and (max-width: 550px) {
    #toggler:checked~.nav-text {
        padding: .5rem;
    }

    .nav-text {
        font-size: 16px; 
        width: 100%;
    }

    .nav-text .ri-notification-2-fill {
    font-size: 18px;
}

.nav-text .ri-account-circle-line {
    font-size: 26px;
}
}

@media screen and (max-width: 480px) {
    .nav-text {
        font-size: 14px; 
        gap: 5px;
    }

    .nav-text .ri-notification-2-fill {
        font-size: 15px;
    }

    .nav-text .ri-account-circle-line {
        font-size: 23px;
    }
}